.note {
    width: 250px;
    height: 250px;
    padding: 25px;
    margin-top: 10px;
    border-radius: 3px;
    
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    list-style: none;
  }
  .note__red{
      background:salmon ;

  }
  .note__green{
    background:PaleGreen ;
 
}
.note__blue{
    background:PaleTurquoise ;
}
.note__yellow{
    background:lemonchiffon ;
}
.note__pink{
    background:LightPink ;
}
.note__purple{
    background:Thistle ;
}
.note__white{
    background:white ;
}