.OfferCandidatesList{
    margin: var(--space-md) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    font-size: var(--text-md)
}
.OfferCandidatesListItem{
   
    padding: var(--space-sm);
    border-radius: var(--space-xs);
    background: rgba(0, 0, 0, 0.03);
}

.OfferCandidatesList li:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
  }

.OfferCandidateItem-seen{
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.OfferCandidateItem__titleGroup, .OfferCandidateItem__buttonGroup{
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
    height: var(--space-md) + 0.5rem ;
    align-items: baseline;
}

.OfferCandidateItem__buttonGroup button, .OfferCandidateItem__titleGroup button{
    border: none;
    background: none;
    cursor: pointer;

    width: fit-content;
    padding: var(--space-xs) var(--space-sm);
    margin: var(--space-xs) 0;
    font-size: var(--text-md)
   

}

.OfferCandidateItem__buttonGroup button:hover , .OfferCandidateItem__titleGroup button:hover{
    width: fit-content;
    padding: var(--space-xs) var(--space-sm);
    margin: var(--space-xs) 0;
    border-radius: var(--space-md);
    background-color: var(--color_lightGrey);
}

/* === SEEN CANDIDATE === */
.CandidateItem__name-newAdvice{
    font-weight: 900;

    width: fit-content;
    padding: var(--space-xs) var(--space-sm);
    margin: var(--space-xs) 0;
    border-radius: var(--space-md);
    background-color: var(--color_primary-lowOpacity);
}
.OfferCandidateItem-new .CandidateItem__name{
    font-weight: 600;
}
/* === CONTACTED CANDIDATE*/

.CandidateItem__contadted{
    opacity: 0.6;
}

/* === rejected candidate === */
.OfferCandidateItem-rejected{
    opacity: 0.5;

   
}

.CandidateItem__name-rejectedAdvice{
   font-size: var(--space-md) + 1rem;
}
.CandidateItem__rejectedAdvice{
    width: fit-content;
    padding: var(--space-xs) var(--space-sm);
    margin: var(--space-xs) 0;
    border-radius: var(--space-md);
    background-color: var(--color_error-midOpacity);
}