.Login {
    margin: var(--space-xlg) var(--space-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.Login__title {
    font-size: var(--text_title-md);
}

.Login__form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md)
}

.form__input {
    width: 100%;
    min-width: 14rem;
    padding: var(--space-sm);
    border: var(--line-md) solid var(--color_primary);
    border: 2px solid var(--color_primary);
    border-radius: var(--space-sm);
    background-color: var(--color_transparent);
    resize: none;
}

.Login__button-primary-full {
    width: fit-content;
    margin: var(--space-sm) 0;
    padding: var(--space-sm) 50px;
    border: var(--line-md) solid var(--color_primary);
    border: none;
    border-radius: var(--space-sm);
    background-color: var(--color_primary);
    color: var(--color_primary-darker);
    font-weight: var(--fontWeight-bolder);
}

.Login__button-primary-full:hover {
    
    background-color: var(--color_primary-dark);
}