*{
    font-family: 'Merriweather', serif;
}

body{
    background-color: blanchedalmond;
    color: rgb(37, 31, 24);
}
.panel{
    width: 600px;
    margin: auto;
   
}
form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column;
}
input{
    margin: 5px 0;
}
.error{
    color:brown;
}
.flex-list{
    justify-content: center;  
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}
.flex-item{
    padding: 25px 10px;
    list-style: none;
    text-align: center;  
    display: flex;
    flex-flow: column wrap; 
    justify-content: center;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #FFFFFF44;
}
.flex-item span{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
}
.flex-item h2{
    margin: 10px 0
}