*{
    font-family: 'Merriweather', serif;
}

body{
    background-color: rgb(223, 235, 229);
    color: rgb(12, 14, 13);
}
.panel{
    width: 600px;
    margin: auto;
}
form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column;
}
input{
    margin: 5px 0;
}
.error{
    color:brown;
}
.flex-list{
    justify-content: center;  
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}
.flex-item{
    width: 400px;
    padding: 25px 10px;
    list-style: none;
    text-align: center;  
    display: flex;
    flex-flow: column wrap; 
    justify-content: center;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #FFFFFF44;
}
.flex-item span{
   
    font-size: 1.4rem;
    font-weight: 700;
}
.flex-item img{
    max-width: 320px;
}
.flex-item h2{
    margin: 10px 0
}
.forecast-list{
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.24);
    display: flex;
    flex-direction: row ;
    gap: 40px;
    justify-content: center;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.781);
    border-radius: 4px;
    
}
.forecast-list li{
    list-style: none;
   
    margin: 20px

}
.forecast-item-temperature{
    font-weight: 800;
    font-size: 2.5rem;
}
.max{
    color:rgb(131, 14, 14)
}
.min{
    color:rgb(10, 57, 133)
}


.item-fav-btn{
    padding: 0;
    width: 45px;
    height: 45px;
    font-size: 3rem;
    line-height: 0%;
    background: none;
    border: none;
    color: rgb(255, 196, 0)
}

.home-comp{
    width: 50%;
    height: 100px;
    background: rgb(243, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}