
form{
  width: 70vw;
  margin: auto;
}

input, textarea, select{
  margin-bottom: 15px;
  width:100%;
}
a{
  color:darkcyan;
  cursor: pointer
}
nav{
  display: flex;
  justify-content: space-around;
}
.active{
  background-color: aqua;
}
.unactive{
  background-color: rgb(128, 156, 156);
}
.groupfield{
  display: flex;
  justify-content: space-between;
}