:root {
  /* COLORS */
  --color_darkGrey: #505056;
  --color_grey: #72737a;
  --color_mediumlightGrey: #adaeb8;
  --color_lightGrey: #cccdda;
  --color_lighterGrey: #f2f2f8;
  --color_transparent: #0000;
  --color_primary: #1ae3a3;
  --color_primary-lowOpacity: #1ae3a344;
  --color_primary-dark:#0fd093;
  --color_primary-darker: rgb(0, 65, 72);
  --color_error: rgb(169, 37, 4);
  --color_error-midOpacity: rgba(229, 47, 2, 0.722);

  /* FONT SIZES */
  --text_title-lg: 3.125rem;
  --text_title-md: 2.5rem;
  --text_title-sm: 1.5rem;

  --text-lg: 1.2rem;
  --text-md: 1rem;
  --text-sm: 0.9rem;

  /* SPACES */
  --space-xlg: 4rem;
  --space-lg: 2.5rem;
  --space-md: 1rem;
  --space-sm: 0.5rem;
  --space-xs: 0.3rem;

  /*LINES AND FONT WEIGTH*/
  --line-md: 2px;
  --fontWeight-bolder: 700;
}

* {
  color: var(--color_darkGrey);
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
.App{
  min-height: 100vh;
  background-color: var(--color_lighterGrey);
}
.Header{
  height: 3rem;
}


a {
 
  color: var(--color_primary-dark);
  cursor: pointer
}
a:hover{
  color: var(--color_primary);
}
