<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-TIENDA</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <a href="home.html"><h1 class="header__title">Name</h1></a>
        <nav class="header__nav">
            <button class="header__nav-profile pointer"><img src="./icons/person.svg" alt=""></button>
            <button class="header__nav-cart pointer"><img src="./icons/cart.svg" alt=""></button>
            <button class="header__menu-button pointer"><img src="./icons/list.svg" alt=""></button>
        </nav>
    </header>
    <main class="home">
        <div class="home__img">
            <h2 class="home__img-title">NEW</h2>
        </div>
        <div class="new">
            <h3 class="new__title">New in</h3>
            <div class="new__grid">
                <img class="new__grid-item1" src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
                <img class="new__grid-item2" src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
                <img class="new__grid-item3"src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U"alt="">
                <img class="new__grid-item4"src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
            </div>
        </div>

        <div class="season">
            <h3 class="season__title">Season a/w</h3>
            <div class="season__grid">
                <img class="season__grid-item1"src="https://i.picsum.photos/id/442/400/200.jpg?hmac=_QaM3ay1IpbGhrS8av9YyRc8aOpiq9LgvFCoij4EPtY" alt="">
                <img class="season__grid-item2"src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
                <img class="season__grid-item3"src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
            </div>
        </div>

        <div class="look">
            <h3 class="look__title">Get the look</h3>
            <div class="look__grid">
                <img class="look__grid-item1" src="https://i.picsum.photos/id/880/300/400.jpg?hmac=yqV3sLAnv-4c_sWdOUZz-nHdV4Lum9uwZ75WhtQZ8E4" alt="">
                <img class="look__grid-item2" src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
                <img class="look__grid-item3" src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
                <img class="look__grid-item4" src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
                <img class="look__grid-item5" src="https://i.picsum.photos/id/590/200/200.jpg?hmac=Z5g54UWkuML96A-q7x7wX6LDuVGFdHQrEYEsU2CIM1U" alt="">
            </div>
        </div>


    </main>
    <footer class="footer">
        <p class="footer__text">Follow us on social media</p>
        <div class="footer__btn-container">
      
            <button class="footer__btn2 pointer" href="#"><img src="./icons/youtube.svg" alt="">
            </button>
            <button class="footer__btn3 pointer" href="#"><img src="./icons/twitter.svg" alt="">
            </button>
            <button class="footer__btn4 pointer" href="#"><img src="./icons/instagram.svg" alt="">
            </button>
            <button class="footer__btn5 pointer" href="#"><img src="./icons/facebook.svg" alt="">
            </button>
        </div>
    </footer>
</body>
</html>