<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <a href="home.html"><h1 class="header__title">Name</h1></a>
        <nav class="header__nav">
            <button class="header__nav-profile pointer"><img src="./icons/person.svg" alt=""></button>
            <button class="header__nav-cart pointer"><img src="./icons/cart.svg" alt=""></button>
            <button class="header__menu-button pointer"><img src="./icons/list.svg" alt=""></button>
        </nav>
    </header>
    <main class="index">
        <h2 class="index__title">To enjoy all our advantages</h2>
        <a class="index__button-primary pointer" href="login.html">Sign-in</a>
        
        <p class="index__text">or
            <a class="index__button-secondary pointer" href="signup.html">sign-up</a>
            if you already have an account
        </p>
   
        
    </main>

    <!-- <ul class="product-list">
        <li class="product-list__item">
            <h3 class="product-list__item-title">blah blah blah</h3>
            <p class="product-list__item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil adipisci deleniti accusamus incidunt labore rem nostrum, aperiam cum sunt cupiditate dicta cumque eveniet temporibus repellat soluta laudantium quaerat recusandae ut!</p>
        </li>
        <li class="product-list__item product-list__item--no-stock">
            <h3 class="product-list__item-title">blah blah blah</h3>
            <p class="product-list__item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil adipisci deleniti accusamus incidunt labore rem nostrum, aperiam cum sunt cupiditate dicta cumque eveniet temporibus repellat soluta laudantium quaerat recusandae ut!</p>
        </li>
        <li class="product-list__item">
            <h3 class="product-list__item-title">blah blah blah</h3>
            <p class="product-list__item-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil adipisci deleniti accusamus incidunt labore rem nostrum, aperiam cum sunt cupiditate dicta cumque eveniet temporibus repellat soluta laudantium quaerat recusandae ut!</p>
        </li>
    </ul> -->

    <footer class="footer">
        <p class="footer__text">Follow us on social media</p>
        <div class="footer__btn-container">
            
            <button class="footer__btn2 pointer" href="#"><img src="./icons/youtube.svg" alt="">
            </button>
            <button class="footer__btn3 pointer" href="#"><img src="./icons/twitter.svg" alt="">
            </button>
            <button class="footer__btn4 pointer" href="#"><img src="./icons/instagram.svg" alt="">
            </button>
            <button class="footer__btn5 pointer" href="#"><img src="./icons/facebook.svg" alt="">
            </button>
        </div>
    </footer>
</body>
</html>