<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-TIENDA</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <a href="home.html"><h1 class="header__title">Name</h1></a>
        <nav class="header__nav">
            <button class="header__nav-profile pointer"><img src="./icons/person.svg" alt=""></button>
            <button class="header__nav-cart pointer"><img src="./icons/cart.svg" alt=""></button>
            <button class="header__menu-button pointer"><img src="./icons/list.svg" alt=""></button>
        </nav>
    </header>
    <main class="main">
        <a href="index.html">🡐</a>
        <h2>Sign-up</h2>
        <form class="form" action="">
            <input class="form__input" type="text" placeholder="Name" required>
            <input class="form__input" type="email" placeholder="E-mail" required>
            <input class="form__input" type="password" placeholder="Password" required>
            <input class="form__button-primary pointer" type="submit">
            <button class="form__button-google pointer">
                <img src="https://www.eafit.edu.co/cec/congresos/SiteAssets/Paginas/coin2019/google_PNG19635.png" alt="">
                <span>Continue with Google</span>
            </button>
        </form>
    </main>
    <footer class="footer">
        <p class="footer__text">Follow us on social media</p>
        <div class="footer__btn-container">
            
            <button class="footer__btn2 pointer" href="#"><img src="./icons/youtube.svg" alt="">
            </button>
            <button class="footer__btn3 pointer" href="#"><img src="./icons/twitter.svg" alt="">
            </button>
            <button class="footer__btn4 pointer" href="#"><img src="./icons/instagram.svg" alt="">
            </button>
            <button class="footer__btn5 pointer" href="#"><img src="./icons/facebook.svg" alt="">
            </button>
        </div>
    </footer>
</body>
</html>