@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


:root{
    --color_white:#ebf6f7;
    --color_primary: #5f9ea0; 
    --color_primary-dark:#49797a;
    --color_secondary: #E81400;
    --color_secondary-dark:#8b0f04;
}




*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
/* Header */
.header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex:row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header__title{
    text-decoration: none;
    color:var(--color_secondary)
}

.header__nav button img{
    width: 80%;
}

.header__nav button{
    width: 35px;
    border:none;
    background: none;
}

/* Formularios */
.main{
    width:90%;
    margin:auto;
}
.main a{
    display: block;
}
.main h2{
    text-align: center;
    margin:20px 0;
}
.form{
    width: 40vw;
    min-width:250px;
    margin: auto;
}
.form__input{
    width: 100%;
    padding: 5px;
}
.form__button-google{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}
.form__button-google img{
    width:30px;
    margin-right: 20px;
}
/*=== BTN ===*/
.form input, button{
    width: 100%;
    margin: 5px;
    line-height: 2em;
    border:1px solid grey;
    border-radius:3px;  
}
[class*="__button-primary"]{
    background:var(--color_primary);
    padding: 7px 45px 10px;
    border: 1px solid var(--color_primary-dark);
    border-radius:5px;
    font-size: 1.3em;
    color:white;
}
.form__button-primary{
    display:block;
    padding: 5px 50px;
    font-size: 1em;
    line-height: 2em;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pointer:hover{
    cursor: pointer;
}

/* Home */
.home{
    color:var(--color_secondary-dark);
}

.home__img{
    width:100%;
    height: 90vh;
    background: url(https://images.unsplash.com/photo-1633510280925-1ab233ac1290?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.home__img-title{
    font-size: 60px;
    color:whitesmoke;
}
.new, .season, .look{
   padding: 10px;
   max-width: 600px; 
   margin: auto;
}
.new__grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px; /*1.Indica el espacio que vamos a dejar entre columnas y entre filas, ambas a la vez*/
}

.new__grid-item1, .new__grid-item2, .new__grid-item3, .new__grid-item4{
    width: 100%;
 
}

.season__grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px; 
}
.season__grid-item1{
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
}
.season__grid-item2, .season__grid-item3{
    width: 100%;
}
.look__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:10px;
}
[class^="look__grid-item"] {
    width: 100%;
}
.look__grid-item1{
    grid-column: 1/4;
    grid-row: 1/5;
}
.look__grid-item2{
    grid-column: 4/5;
    grid-row: 1/2;
}
.look__grid-item3{
    grid-column: 4/5;
    grid-row: 2/3;
}
.look__grid-item4{
    grid-column: 4/5;
    grid-row: 3/4;
}
.look__grid-item5{
    grid-column: 4/5;
    grid-row: 4/5;
}

/* Footer */
[class^="footer__btn"]{
    border:none;
    background: none;
}
.footer{
    padding: 20px ;
    background-color: var(--color_white);
    margin-top:260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.footer__text{
    margin-bottom: 10px;
}
.footer__btn-container{
    display: flex;
    flex-direction: row;
}
/* Index */
.index{
    height: 50vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}
.index__title{
    font-size:2em;
    text-align: center;
}
.index__text{
    color: rgb(58, 58, 58)
}
.index__button-primary{
    margin-top: 10px;
}
.index__button-secondary{
    color:var(--color_primary-dark);
    margin: 0 4px;
}





/* Para >768px en Home*/
@media (min-width:768px){
    .home__img{
        background-position: 30% 30%;
    }
} 
