*{
    font-family: 'Merriweather', serif;
}

body{
    background-color: blanchedalmond;
    color: rgb(37, 31, 24);
}
.panel{
    width: 600px;
    margin: auto;
   
}
form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column;
}
input{
    margin: 5px 0;
}
.error{
    color:brown;
}