.panel_mini{
    width: 200px; 
    height: fit-content;
    background-color:var(--color-secondary_dark);
    border-radius: 5px;
    margin: 5rem auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
}
.temperature-day{
    color:rgb(172, 172, 172);
}
.temperature-min{
    color:var(--color-min)
}
.temperature-max{
    color: var(--color-max);
}
.temperature-icon{
    font-size: 3rem;
   
}
.forecast-title{
    font-size: 1rem;
    gap: 5px;
    margin-bottom:15px;
    text-transform: capitalize;
    font-weight: 700;
}

@media (max-width: 900px){
    .panel_mini{
      
        width: fit-content; 
        min-width: 300px;
        height: 180px ;
        margin: 3rem auto 3rem;
        flex-direction: row;
        
    }
   
}
@media (max-width: 650px){
.forecast-container{
    display: none;
}
}