:root{
  --color__white:#fffaf1;
  --color__light: #ecdfc6;
  --color__medium:#928975;
  --color__dark:#2A2523;
  --color__black: #0F0E0C;
  --color__primary:#DD681E;
  --color__secondary:#0D918A;
  --color__success: #5CDE35;
  --color__error: #911A14;

}

*{
  margin: 0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color:var(--color__white);

}
li{
  list-style: none 
}